@font-face {
  font-family: "iconfont"; /* Project id 2981747 */
  src: url('iconfont.woff2?t=1638513036723') format('woff2'),
       url('iconfont.woff?t=1638513036723') format('woff'),
       url('iconfont.ttf?t=1638513036723') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shijian:before {
  content: "\e601";
}

.icon-riqishijian:before {
  content: "\e6c8";
}

.icon-wowowo:before {
  content: "\e631";
}

.icon-csdn:before {
  content: "\e600";
}

.icon-gitee2:before {
  content: "\e677";
}

.icon-maomi:before {
  content: "\e602";
}

.icon-cry:before {
  content: "\e758";
}

.icon-costoms-alearance:before {
  content: "\e759";
}

.icon-clock:before {
  content: "\e75a";
}

.icon-CurrencyConverter:before {
  content: "\e75b";
}

.icon-cut:before {
  content: "\e75c";
}

.icon-data1:before {
  content: "\e75d";
}

.icon-Customermanagement:before {
  content: "\e75e";
}

.icon-descending:before {
  content: "\e75f";
}

.icon-double-arro-right:before {
  content: "\e760";
}

.icon-customization:before {
  content: "\e761";
}

.icon-double-arrow-left:before {
  content: "\e762";
}

.icon-discount:before {
  content: "\e763";
}

.icon-download:before {
  content: "\e764";
}

.icon-dollar1:before {
  content: "\e765";
}

.icon-default-template:before {
  content: "\e766";
}

.icon-editor1:before {
  content: "\e767";
}

.icon-eletrical:before {
  content: "\e768";
}

.icon-electronics:before {
  content: "\e769";
}

.icon-auto:before {
  content: "\e6eb";
}

.icon-all:before {
  content: "\e6ef";
}

.icon-bussiness-man:before {
  content: "\e6f0";
}

.icon-component:before {
  content: "\e6f2";
}

.icon-code:before {
  content: "\e6f3";
}

.icon-copy:before {
  content: "\e6f4";
}

.icon-dollar:before {
  content: "\e6f5";
}

.icon-history:before {
  content: "\e6f8";
}

.icon-editor:before {
  content: "\e6f6";
}

.icon-data:before {
  content: "\e6f9";
}

.icon-gift:before {
  content: "\e6fa";
}

.icon-integral:before {
  content: "\e6fb";
}

.icon-nav-list:before {
  content: "\e6fd";
}

.icon-pic:before {
  content: "\e6ff";
}

.icon-Notvisible:before {
  content: "\e6fe";
}

.icon-play:before {
  content: "\e701";
}

.icon-rising:before {
  content: "\e703";
}

.icon-QRcode:before {
  content: "\e704";
}

.icon-rmb:before {
  content: "\e705";
}

.icon-similar-product:before {
  content: "\e707";
}

.icon-Exportservices:before {
  content: "\e702";
}

.icon-sendinquiry:before {
  content: "\e70d";
}

.icon-all-fill:before {
  content: "\e718";
}

.icon-favorites-fill:before {
  content: "\e721";
}

.icon-integral-fill:before {
  content: "\e726";
}

.icon-namecard-fill:before {
  content: "\e72a";
}

.icon-pic-fill:before {
  content: "\e72e";
}

.icon-play-fill:before {
  content: "\e72f";
}

.icon-prompt-fill:before {
  content: "\e731";
}

.icon-stop-fill:before {
  content: "\e738";
}

.icon-column:before {
  content: "\e741";
}

.icon-add-account:before {
  content: "\e742";
}

.icon-column1:before {
  content: "\e743";
}

.icon-add:before {
  content: "\e744";
}

.icon-agriculture:before {
  content: "\e745";
}

.icon-years:before {
  content: "\e746";
}

.icon-add-cart:before {
  content: "\e747";
}

.icon-arrow-right:before {
  content: "\e748";
}

.icon-arrow-left:before {
  content: "\e749";
}

.icon-apparel:before {
  content: "\e74a";
}

.icon-all1:before {
  content: "\e74b";
}

.icon-arrow-up:before {
  content: "\e74c";
}

.icon-ascending:before {
  content: "\e74d";
}

.icon-ashbin:before {
  content: "\e74e";
}

.icon-atm:before {
  content: "\e74f";
}

.icon-bad:before {
  content: "\e750";
}

.icon-attachent:before {
  content: "\e751";
}

.icon-browse:before {
  content: "\e752";
}

.icon-beauty:before {
  content: "\e753";
}

.icon-atm-away:before {
  content: "\e754";
}

.icon-assessed-badge:before {
  content: "\e755";
}

.icon-bags:before {
  content: "\e756";
}

.icon-calendar:before {
  content: "\e757";
}

.icon-shouye:before {
  content: "\e6cb";
}

.icon-gongju:before {
  content: "\e648";
}

.icon-excel:before {
  content: "\e611";
}

.icon-zujian:before {
  content: "\e730";
}

.icon-24gf-pictures:before {
  content: "\e9f4";
}

.icon-texiao:before {
  content: "\e694";
}

.icon-gongju1:before {
  content: "\e60a";
}

.icon-sharpicons_Turtle:before {
  content: "\e78f";
}

.icon-git:before {
  content: "\e708";
}

